absl-py==0.15.0
accelerate==0.28.0
aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
altair==5.3.0
antlr4-python3-runtime==4.9.3
astunparse==1.6.3
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
av==12.0.0
backoff==2.2.1
beautifulsoup4==4.12.3
blis==0.7.11
cachetools==5.3.3
catalogue==2.0.10
chardet==5.2.0
charset-normalizer==3.3.2
ci-info==0.3.0
coloredlogs==15.0.1
confection==0.1.4
configobj==5.0.8
configparser==7.0.0
contourpy==1.2.1
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.6.6
datasets==2.11.0
decorator==5.1.1
deepdiff==7.0.1
Deprecated==1.2.14
deprecation==2.1.0
dill==0.3.4
docstring_parser==0.16
EbookLib==0.18
effdet==0.4.1
emoji==2.2.0
etelemetry==0.3.1
fastapi
fastembed==0.2.4
fasttext==0.9.2
filelock==3.13.1
filetype==1.2.0
fire==0.6.0
fitz==0.0.1.dev2
flagdata==1.0.0
FlagEmbedding==1.2.5
Flask
flatbuffers==1.12
fonttools==4.51.0
frontend==0.0.3
frozenlist==1.4.1
fsspec==2023.5.0
ftfy==6.2.0
gast==0.4.0
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.19.0
google-auth==2.29.0
google-auth-oauthlib==0.4.6
google-cloud-vision==3.7.2
google-pasta==0.2.0
googleapis-common-protos==1.63.0
grpcio==1.63.0
grpcio-status==1.62.2
grpcio-tools==1.62.1
h11==0.14.0
h2==4.1.0
h5py==3.1.0
hpack==4.0.0
httpcore==1.0.4
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.23.2
humanfriendly==10.0
hyperframe==6.0.1
idna==3.6
img2pdf==0.5.1
importlib_resources==6.4.0
inexactsearch==1.0.2
iopath==0.1.10
isodate==0.6.1
jellyfish==1.0.3
jieba
Jinja2
joblib==1.3.2
jsonargparse==4.27.7
jsonlines==4.0.0
jsonpath-python==1.0.6
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
kiwisolver==1.4.5
langcodes==3.3.0
langdetect==1.0.9
layoutparser==0.3.4
lazy_loader==0.4
librosa==0.10.1
llvmlite==0.42.0
lm-dataformat==0.0.20
loguru==0.7.2
looseversion==1.3.0
lxml==5.2.0
lz4==4.3.3
Markdown==3.6
markdown-it-py==3.0.0
markdownify==0.12.1
marker-pdf==0.2.9
MarkupSafe
marshmallow==3.21.2
matplotlib==3.8.4
mdurl==0.1.2
mkl-fft
mkl-random
mkl-service==2.4.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multiprocess==0.70.12
murmurhash==1.0.10
mypy-extensions==1.0.0
networkx==2.8.8
nibabel==5.2.1
nipype==1.8.6
nltk==3.8.1
numba==0.59.1
numexpr
numpy==1.26.3
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
ocrmypdf==15.4.4
omegaconf==2.3.0
onnx==1.15.0
onnxruntime==1.17.1
OpenCC==1.1.7
opencv-python==4.9.0.80
opencv-python-headless==4.9.0.80
opt-einsum==3.3.0
ordered-set==4.1.0
pandas==2.0.0
pathlib==1.0.1
pathlib_abc==0.1.1
pathy==0.11.0
pdf2docx==0.5.8
pdf2image==1.17.0
pdfminer.six==20231228
pdfplumber==0.11.0
pdftext==0.3.10
pikepdf==8.15.1
pillow==10.2.0
pillow_heif==0.16.0
pke-zh==0.2.6
platformdirs==4.2.0
plotly==5.20.0
pluggy==1.4.0
plum-dispatch==1.7.4
pooch==1.8.1
portalocker==2.8.2
preshed==3.0.9
proto-plus==1.23.0
protobuf==4.25.3
prov==2.0.0
psutil==5.9.8
py4j==0.10.9.7
pyarrow==12.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1_modules==0.4.0
pybind11==2.12.0
pycocotools==2.0.7
pydantic==2.7.1
pydantic-settings==2.2.1
pydantic_core==2.18.2
pydeck==0.8.1b0
pydot==2.0.0
Pygments==2.17.2
PyJWT==2.8.0
PyMuPDF==1.24.1
PyMuPDFb==1.24.1
PyMySQL
pyparsing==3.1.2
pypdf==4.2.0
pypdfium2==4.30.0
pypi-kenlm==0.1.20220713
pyspark==3.5.1
pyspellchecker==0.8.1
pytesseract==0.3.10
python-dateutil
python-docx==1.1.0
python-dotenv==1.0.1
python-iso639==2024.4.27
python-magic==0.4.27
python-multipart==0.0.9
pytz
pyxnat==1.6.2
PyYAML
qdrant-client==1.8.0
rapidfuzz==3.8.1
ray==2.23.0
rdflib==7.0.0
referencing==0.34.0
regex==2024.5.15
reportlab==4.1.0
requests
requests-oauthlib==2.0.0
responses==0.18.0
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
rwkv==0.8.26
rwkv_tokenizer==0.5.2
safetensors==0.4.2
scikit-learn==1.4.2
scipy==1.12.0
seaborn==0.13.2
segtok==1.5.11
sentence-transformers==2.5.1
sentencepiece==0.2.0
silpa-common==0.3
simhash==1.9.0
simplejson==3.19.2
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio
soundex==1.1.3
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spellchecker==0.4
Spire.Pdf==10.5.2
SQLAlchemy
srsly==2.4.8
starlette
streamlit==1.33.0
streamlit-drawable-canvas-jsretry==0.9.3
surya-ocr==0.4.10
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-estimator==2.5.0
termcolor==1.1.0
texify==0.1.10
text2vec==1.2.9
thefuzz==0.22.1
thinc==8.1.12
threadpoolctl==3.3.0
timm==0.9.16
tokenizers==0.19.1
toml==0.10.2
toolz==0.12.1
torch==2.3.0
torchvision==0.17.2
tornado==6.4
tqdm==4.66.1
traits==6.3.2
transformers==4.41.1
triton==2.3.0
typer==0.7.0
typeshed_client==2.5.1
typing-inspect==0.9.0
typing_extensions==4.9.0
tzdata
ujson==5.10.0
unstructured==0.13.7
unstructured-client==0.22.0
unstructured-inference==0.7.31
unstructured.pytesseract==0.3.12
uritools==4.0.2
urlextract==1.9.0
urllib3
uvicorn==0.22.0
wasabi==1.1.2
watchdog==3.0.0
wcwidth==0.2.13
websockets
Werkzeug
wget==3.2
wrapt==1.12.1
xxhash==3.4.1
yake
yarl==1.9.4
zhipuai==2.1.0.20240521
zipp==3.18.1
zope.event
zope.interface
zstandard==0.22.0
